
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Xcelerator</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% uri =  current_user.present? ? [destroy_user_session_path, 'Logout'] : [new_user_session_path, 'Login'] %>
      <li><a href="<%= uri[0] %>"><span class="glyphicon glyphicon-log-in"></span> <%= uri[1] %></a></li>
    </ul>
  </div>
</nav>

<% if current_user.present? %>
  <a href="<%= new_topic_of_interests_path  %>" type="button" class="btn btn-success pull-right">Add Topic</a>
<% end %>
<div class="container">
  <h2>List of Topics</h2>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Topic Name</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <% @topic_of_interests.each do |topic|  %>
      <tr>
        <td><%= topic.topic_name %></td>
        <td><%= topic.short_desc %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>


