<div class="container">
  <h2>SignUp</h2>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}, html: {class: "form-horizontal"}) do |f| %>
    <div class="form-group">
      <%= f.label :full_name, class: "control-label col-sm-2" %>
      <div class="col-sm-6">
        <%= f.text_field :full_name, class: "form-control", placeholder: "Enter full name" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :age, class: "control-label col-sm-2" %>
      <div class="col-sm-6">
        <%= f.date_field :age, class: "form-control", placeholder: "Enter your age" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, class: "control-label col-sm-2" %>
      <div class="col-sm-6">
        <%= f.text_field :email, class: "form-control", placeholder: "Enter email" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password, class: "control-label col-sm-2" %>
      <div class="col-sm-6">
        <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  <% end %>
</div>
